body {
background-color: black;
}






.section1 {
	background-image: url(../media/group1.2.jpeg);
	background-size: 100%;
}

.section2 {
	background-color: black;
}

.section3 {
	background-image: url(../media/codebackground5.jpg);
	background-attachment: fixed;
	background-size: cover;
}
.section4 {
	background-image: url(../media/socialmediabackground.jpg);
	background-attachment: fixed;
	background-size: cover;
}
.parallax {
    background-image: url(../media/group1.1.jpeg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }





 .gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.gallery .item {
  flex: 1 1 calc(50% - 10px);
  margin-bottom: 10px;
  text-align: center;
}

.gallery .item img source{
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: 10px solid black;
 
}

.gallery .item p {
  max-width: 300px;
  text-align: center;
  margin-top: 10px;
}

.gallery .item h3 {
  max-width: 800px;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  margin-left: 7.5%;
}
@media (max-width: 1024px) {
  .gallery .item {
    flex: 1 1 calc(33.33% - 10px); /* 3 items per row */
  }
}

@media (max-width: 768px) {
  .gallery .item {
    flex: 1 1 calc(50% - 10px); /* 2 items per row */
  }
}

@media (max-width: 480px) {
  .gallery .item {
    flex: 1 1 100%; /* 1 item per row */
  }
}





img {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50% ;
}


header {
  background: black;
  color: white;
  padding: 40px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  height: 0.001%;
  margin-left: -8px;
}

header h1 {
  float: left;
  margin-left: 20px;
  margin-top: -18px;
}

footer {
  background: black;
  color: white;
  padding: 15px 0;
  width: 100%;
  top: 0;
  z-index: 100;
  height: 1%;
}

footer h1 {
  text-align: center;
  margin-left: 20px;
  margin-top: -18px;
}

img {
	border: 10px solid black;
}







h1 {
	font-size: 30px;
	color: white;
	font-family: "Alumni Sans SC", sans-serif;
}
h5 {
	font-size: 10px;
}
h3 {
	font-size: 50px;
	text-align: center;
	font-family: "Alumni Sans SC", sans-serif;
	color: white;
}
p {
	font-size: 80px;
	text-align: center;
	font-family: "Alumni Sans SC", sans-serif;
	color: white;
}

.p2 {
	font-size: 15px;
	font-weight: light;
	text-align: center;
	margin-top: -65px;
	color: white;

}

.p3 {
	font-size: 85px;
	text-align: center;
	font-family: "Alumni Sans SC", sans-serif;
	color: white;
    font-weight: bold;
}



.under-image-p {
	font-size: 50px;
	text-align: center;
	font-family: "Alumni Sans SC", sans-serif;
	color: white;
    font-weight: bold;
	margin-top: -70;
}
h2 {
	font-size: 50px;
	text-align: center;
	font-family: "Alumni Sans SC", sans-serif;
	color: white;
}

.h2 {
	font-size: 30px;
	text-align: center;
	font-family: "Alumni Sans SC", sans-serif;
	color: white;
	margin-left: 140px;
	margin-right: 140px;
}







.animate-on-scroll.active {
  opacity: 1;
  transform: translateY(0);
}

.animate-on-scroll span {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.animate-on-scroll.active span {
  opacity: 1;
  transform: translateY(0);
}

.fade-in-image {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in-image.visible {
  opacity: 1;
}